Makefile
build
*.o
*.so
*.html
*~
.git
.godot
.vs
*.gdshader
*.uid
*.import

DefaultScene.tscn
GENERATE_TAR.sh
addCW.sh
cpwrt.head
recipes.txt

viewer/plugins/area/
viewer/plugins/drawimmediate
viewer/plugins/drawvbo/
viewer/plugins/draw-vbo-ext/
viewer/plugins/getPlatformInfo/
viewer/plugins/glowing/
viewer/plugins/inverter/
viewer/plugins/motionBlurScalingAware/
viewer/plugins/motionblur/
viewer/plugins/multitex/
viewer/plugins/oldies/
viewer/plugins/plugins-all.pro
viewer/plugins/plugins-est.pro
viewer/plugins/selection/
viewer/plugins/shadowmap/
viewer/plugins/shadowmapSA/
viewer/plugins/showHelp/
viewer/plugins/show-color/
viewer/plugins/show-degree/
viewer/plugins/splatting/
viewer/plugins/testScaling/
viewer/plugins/textureDemo/
viewer/plugins/vbos/
viewer/plugins/wizard/
viewer/plugins/wizard.old/