.gitattributes              export-ignore
.gitignore                  export-ignore
GENERATE_TAR                export-ignore
GENERATE_TAR.sh             export-ignore
Makefile                    export-ignore
readme.txt                  export-ignore
addCW.sh		    export-ignore
cpwrt.head		    export-ignore
plugins/*		    export-ignore
CorrectorCarlos             export-ignore
plugins/plugins.pro	    -export-ignore
recipes.txt		    export-ignore
plugins/common.pro          -export-ignore
plugins/drawvbong	    -export-ignore
plugins/navigate-default    -export-ignore
plugins/render-default	    -export-ignore
plugins/effectCRT 	    -export-ignore
plugins/shaderLoader 	    -export-ignore
plugins/showHelpNg 	    -export-ignore
plugins/alphaBlending 	    -export-ignore
plugins/pluginLoader	    -export-ignore
plugins/glowing             -export-ignore
plugins/multitex            -export-ignore
plugins/shadowmap           -export-ignore
